@using CopThis.Domain.Commands
@model IEnumerable<CopThis.Controllers.TicketRow>
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<div class="jumbotron">
    <p class="lead">
        Cop This is a sample application that attempts to guide you to good application design without the crazy overhead and complication usually present in these sorts of samples.
    </p>
    <p>
        <a href="https://github.com/xwipeoutx/CopThis" class="btn btn-lg">Project on GitHub</a>
    </p>
    <p>
        <a href="http://stevesspace.com/2016/02/cop-this-ef6-mvc5-starter/" class="btn btn-lg">BlogPost on Steve's Space</a>
    </p>
</div>