@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">
        Cop This is a sample application that attempts to guide you to good application design without the crazy overhead and complication usually present in these sorts of samples.
    </p>
    <p>
        <a href="https://github.com/xwipeoutx" class="btn btn-lg">Project on GitHub</a>
    </p>
    <p>
        <a href="https://stevesspace.com" class="btn btn-lg">BlogPost on Steve's Space</a>
    </p>
</div>